<header class="border-0">
    <h4>{{titulo}}</h4>
</header>
<article>
    <p class="px-2 pb-2 pt-1 bg-info mb-2 bg-light text-dark">
        {{ conteudo }}
    </p>
    <small>Postado em: {{ data }}</small>
</article>
<section class="comentarios p-2 rounded">
    <header class="border-0">
        <h5 class="text-center">Comentário(s):</h5>
    </header>
    {% if comentarios is empty %}
        <article class="mx-5">
            <p class="px-2 pb-2 pt-1 mb-2 rounded text-dark">
                Não encontramos comentários na postagem.
            </small>
        </article>
    {% else %}
        {% for comentario in comentarios %}
        <form action="index.php?pagina=comentarios&metodo=deletar&id={{ comentario.id }}" method="post">
            <article class="mx-5 row">
                <small class="col-12">
                    Comentado por <strong>{{ comentario.nome }}</strong> em: {{ comentario.data_comentario }}:
                </small>
                <p class="col-10 px-2 pb-2 pt-1 mb-2 rounded text-dark">
                    {{ comentario.mensagem }}
                </p>
                <div class="col-2 px-2 pb-2 pt-1 mb-2">
                    <button class="btn btn-danger btn-block">Deletar</button>
                </div>
            </article>
        </form>
        {% endfor %}
    {% endif %}
</section>
